body{
    font-family: sans-serif;
    background-color: cadetblue;
}

h1{
    text-align: center;
    margin-top: 100px;
}

#table,td,th{
    margin: 0px auto;
    border: 1px solid black;
    border-collapse: collapse;
}

#table{
    width: 80%;
}

#signup, #login{
    display: inline;
    margin-left: 90%;
}

#jobadd{
    margin-top: 20px;
    text-align: center;
}

