<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Job Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <a href="{{url_for('log_in')}}">Log In</a>
    <a href="{{url_for('sign_up')}}">Sign Up</a>
    <h1>Job Tracker</h1>

    <table id="table">
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Status</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for i in application %}
            <tr>
                <td>{{i.company}}</td>
                <td>{{i.position}}</td>
                <td>{{i.status}}</td>
                <td style="width: 15%;">{{i.date_created.date()}}</td>
                <td style="width: 10%;">
                    <a href="/update/{{i.id}}">Update</a>
                    <br>
                    <a href="/delete/{{i.id}}">Delete</a>
                </td>
            </tr>
        {% endfor%}
    </table>

    <form action="/" method="POST" id="jobadd">
        <input type="text" name="Company" id="company" placeholder="Company">
        <input type="text" name="Position" id="position" placeholder="Position">
        <input type="text" name="Status" id="status" placeholder="Status">
        <input type="submit" value="Add Application" name="submit" id="submit">
    </form>
</body>
</html>